<!DOCTYPE html>
<html>

<head>
  <title>WED2 - Testat</title>
  <link rel="stylesheet" href="/styles/styles.css" />
</head>

<body class="{{theme}}">
  <main>
    {{{body}}}
  </main>
</body>

</html>
